.signInContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
}

.leftContentSignIn{
    width: 46vw;
    position: relative;
    background-image: linear-gradient(225deg, #FF5AEF, #0c23f5b1);
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    img{
        position: absolute;
        bottom: -100px;
        min-width: 100%;
        left: 50%;
        transform: translate(-40%,0);
    }
}

.rightContentSignIn{
    background-color: white;
    overflow: auto;
    padding: 100px 15% 0px 15%;
    box-sizing: border-box;
    width: 56vw;
    height: 100vh; 
}
.logoContainerSignIn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    img{
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}
.titleDesc{
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 60%;
    height: auto;
    transform: translate(-50%, 0);
}

.titleSlider{
    font-size: 20px;
    color: white;
    text-align: center;
}

.descSlider{
    color: white;
    font-size: 18px;
    text-align: center;
}

.afterSignInText{
    color: #7A7A7A;
    font-size: 14px;
    margin-top: -16px;
}

.googleSignInButton{
    padding: 12px 90px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 95%;
    img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.lineWithText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    hr{
        border: 0.5px solid #A3A3A3;
        width: 100%;
        height: 0px;
    }
}

.afterButtonText{
    font-size: 12px;
    padding: 0 10px;
    color: #7A7A7A;
    width: 150%;
}

.signInForm{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    label{
        margin-top: 10px;
    }
    input{
        margin-top: 10px;
        width: 95%;
        padding: 14px 20px;
        border-radius: 40px;
        border: 1px solid #A3A3A3;
        box-sizing: border-box;
    }
    button{
        width: 95%;
        margin-top: 10px;
        padding: 12px 90px;
        background-image: linear-gradient(225deg, #FF5AEF, #0c23f5b1);
        border: none;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: white;
        border-radius: 40px;
    }
}

.forgotPass{
    color: #071EF1;
    text-decoration: none;
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
    margin-top: 10px;
    
}

.registerLinkText{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    margin-right: 5%;
    p{
        margin-right: 5px;
    }
    a{
        text-decoration: none;
        color: #071EF1;
        font-weight: 600;
    }
}

.copyRight{
    font-size: 10px;
    align-items: center;
    justify-content: center;
    color: #A3A3A3;
    display: flex;
    margin-right: 5%;
    margin-top: 10%;
}

@media only screen and (max-width: 1365px) {
    .googleSignInButton{
        padding: 12px 70px;
    }
    .signInContainer{
        background-image: linear-gradient(225deg, #FF5AEF, #0c23f5b1);
    }
    .leftContentSignIn{
        display: none;
    }
    .rightContentSignIn{
        margin: auto auto;
        border-radius: 20px;
        transform: scale(0.7);
        width: 600px;
        height: auto;
        padding: 100px 100px;
    }
  }

  @media only screen and (max-width: 550px) {
    .signInContainer{
        background-color: white;
    }
    .rightContentSignIn{
        border-radius: 0px;
        position: absolute;
        top : -40px;
        left: 0px;
        transform: scale(0.6);
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
    }
   
  }

