.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  margin-top: 30px;
}

.header p {
  margin-top: -14px;
  font-size: 14px;
}

.greetMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.greetMessage h2 {
  font-weight: 600;
}

.divider1 {
  font-weight: 600;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divider1 p {
  white-space: nowrap;
}

.divider1 hr {
  margin-left: 10px;
  border: none;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#b700f958), to(#071EF1));
  background: linear-gradient(to left, #b700f958, #071EF1);
}

.divider2 {
  font-weight: 600;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.divider2 p {
  white-space: nowrap;
}

.divider2 hr {
  margin-left: 10px;
  border: none;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(#b700f958), to(#071EF1));
  background: linear-gradient(to left, #b700f958, #071EF1);
}

.divider2 .ongoing {
  border: 1px solid #a3a3a358;
  margin: 0 10px;
  padding: 8px 20px;
  background-color: white;
  border-radius: 40px;
}

.divider2 .ongoing p {
  margin: 0px;
  font-weight: 400;
  color: #a3a3a3af;
}

.divider2 .incoming {
  border: 1px solid #a3a3a358;
  padding: 8px 20px;
  background-color: white;
  border-radius: 40px;
}

.divider2 .incoming p {
  margin: 0px;
  font-weight: 400;
  color: #a3a3a3af;
}

.divider2 .activeStatus {
  border: none;
}

.divider2 .activeStatus p {
  font-weight: 600;
  color: #071EF1;
}

.divider2 .statusAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.categoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  padding: 30px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addCategoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 90px;
  max-width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 30px;
  color: #071EF1;
  font-size: 40px;
  -webkit-box-shadow: 0 8px 25px -5px #0c23f533;
          box-shadow: 0 8px 25px -5px #0c23f533;
  cursor: pointer;
}

.taskCardList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 760px) {
  .categoryList {
    padding: 5px 0px;
    margin: 0;
  }
  .greetMessage h2 {
    font-size: 16px;
  }
  .greetMessage p {
    font-size: 12px;
  }
  .addCategoryContainer {
    height: 70px;
    min-width: 70px;
    max-width: 70px;
  }
  .divider2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .divider2 hr {
    display: none;
  }
  .divider2 .statusAction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=HomeContent.css.map */